/* work sans form google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* sherd style  */
*{
     font-family: "Work Sans", sans-serif;
     font-optical-sizing: auto;
} 
.btn-primary{
    background: #ff900e;
    color: #fff;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
   font-size: 15px;
}
.text-light-gray{
    color: #727272;
}
.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
/* header style  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner sytle  */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}


/* main style  */
main{
    max-width: 1440px;
    margin: 50px auto;
}
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.team-contant{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 2.8rem;
}
.team-title .quick{
    color: #727272;
    font-weight: 500px;
}
.team-title .text-features{
    color: #ff900e;
    font-weight: 700px;
}

/* features styles */
.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.features-content .card{
    border-radius: 8px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #ff900e;
    width: 342px;
    color: #fff;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;


}
.features-img img{
    height: 90%;
    margin-left: 50px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
}



/* facts section  */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 40px 30px;

}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.24rem;
    margin-top: none;

}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
   /* sponsers style */    

.spnonsers{
    text-align: center;
}
.isponsers-img-container{
    margin-top: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.footer-content{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.isponsers-img-container img{
    width: 165px;

}






/* responsive */
/* mobile deviecs */
@media screen and (max-width: 576px) {
    
    header{
        padding: 20px;
    }
    .features,
    .isponsers-img-container,
    nav, .team-container, .facts-card-container {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-contant .facts-card-container,.isponsers-img-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .features-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge{
        width: auto;

    }

}

/* medium devices */
@media screen  and (min-width:576px) and (max-width:960px)  {   
    nav, .team-container{
        flex-direction: column;
    
    }
    header{
        padding: 60px;
    }
}